.full-image-button {
    -fx-background-image: url("/resources/button-n.png");
    -fx-background-size: 100% 100%;
    -fx-padding: 30px;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-pref-width: 200px;
    -fx-pref-height: 80px;
}

.controls-button {
    -fx-background-color: #e2a868;
    -fx-min-width: 60px;
    -fx-min-height: 60px;
    -fx-max-width: 80px;
    -fx-max-height: 60px;
    -fx-background-radius: 50em;
    -fx-border-color: transparent;
}

#exit {
    -fx-background-color: #810000;
}

.label-one {
    -fx-background-color: #381e00;
    -fx-label-padding: 6.0;
    -fx-text-fill: white;
}

.label-two {
    -fx-background-color: #4d0000;
    -fx-label-padding: 6.0;
    -fx-text-fill: white;
}
